/*МОДАЛЬНОЕ ОКНО*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color:  hsla(0, 0%, 0%, .5);
  transition: opacity 250ms $timing-function, visibility 250ms $timing-function;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: rgba(255, 255, 255);
    transition: transform 250ms $timing-function;

    padding: 40px;
    margin-left:auto;
    margin-right:auto;


@media screen and (max-width: 767px) {
  width: calc(100% - 2 * 15px);
}
@media screen and (min-width: $tablet) and (max-width: 1199px) {
  width: calc(100% - 2 * 159px);
  top: 60%;
  transform: translate(-50%, -40%);
}
@media screen and (min-width: $desktop) {
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
}
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid 
    rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
fill: $accent-color;
}
.modal-close-btn-icon {
    transition: fill 250ms $timing-function;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}


/*CONTACT FORM*/
.modal-head {
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 12px;
    line-height: 1.16;
  
@media screen and (min-width: $desktop) {
  font-size: 20px;
  line-height: 1.71;
}
}

.modal-input-form {
    margin-top: 12px;
}
.modal-input {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 448px;
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $secondary-color;
}

.input-your-data {
    width: 100%;
    height: 38px;
    display: block;
    background-color: #fff;
    margin: 0;
    padding: 10px 20px;
    padding-left: 40px;
    border: 1px solid rgba(33,33,33,0.2);
    border-radius: 4px;

    @media screen and (max-width: 767px) {
        width: 370px;
      }
      @media screen and (min-width: $tablet) and (max-width: 1199px) {
        width: 370px
      }
      @media screen and (min-width: $desktop) {
        width: 448px;  
}
}

.input-comment {
    display: flex;
    flex-direction: column;
    
    height: 138px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $secondary-color;
    transition: border-color 250ms $timing-function;

    @media screen and (max-width: 767px) {
        width: 370px;
      }
      @media screen and (min-width: $tablet) and (max-width: 1199px) {
        width: 370px
      }
      @media screen and (min-width: $desktop) {
        width: 448px;
}
}
.text-comment {
    height: 100%;
    padding-top: 12px;
    padding: 12px 16px;
    margin-top: 4px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.modal-your-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: var(--main-text-color);
    transition: fill 250ms $timing-function;
}

.policy-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-color;
    cursor: pointer;
}
.modal-icon-check {
    position: relative;
    margin-right: 9px;
    border: 2px solid $primary-color;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    transition: background-color 250ms $timing-function,
    border-color 250ms $timing-function;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.checkbox:checked + .modal-icon-check {
    background-size: contain;
    background-color: $accent-color;
    background-image: url(../images/check.svg);
    border-color: transparent;
    outline: none;
}

.checkbox:focus + .modal-icon-check {
    outline: 2px solid $primary-color;
}
.policy-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $accent-color;
    text-decoration-line: underline;
}
.send-button {
    display: flex;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border-color: transparent;
    background-color: $accent-color;
    color: $white-color;
    border-radius: 4px;

    cursor: pointer;
    transition: background-color 250ms $timing-function;
}
.send-button:hover,
.send-button:focus {
    background-color: $background-color;
}
.text-comment:focus {
    border-color: $accent-color;
    outline: none;
}
.input-your-data:focus {
    border: 1px solid $accent-color;
    outline: none;
}
.input-your-data:focus+.modal-your-icon {
    fill: $background-color;
}